In [1]:
import matplotlib.pyplot as plt
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("Q1.csv")

In [4]:
df.head()

   exam_score
0       74.54
1       66.20
2       86.75
3       70.87
4       80.43

In [6]:
plt.hist(df[“exam_score”], bins=20, edgecolor=“black”) plt.xlabel(“exam_score”) plt.ylabel(“Frequency”) plt.title(“Histogram of exam_score”) plt.show()

SyntaxError: invalid character '“' (U+201C) (2233929006.py, line 1)